@page "/adchitiet"

<div class="container">
    <h3>Chi tiết yêu cầu</h3>
    <div>
        <table class="table table-bordered">
            <thead>
            <th>Mã yêu cầu</th>
            <th>Nội dung yêu cầu</th>
            <th>Vị trí</th>
            <th>Ngày gửi yêu cầu</th>
            <th>Trạng thái</th>
            </thead>
            <tbody>
            <td>126</td>
            <td>Sữa chữa</td>
            <td>Phòng 1</td>
            <td>15:59 18/06/2022</td>
            <td>Đã hoàn thành</td>
            </tbody>
        </table>
    </div>
    <div>
        Tiến trình của yêu cầu
    </div>
    <div>
        <table class="table table-bordered">
            <tr>
                <td>1</td>
                <td>Nguyễn Văn A</td>
                <td>
                    Gửi yêu cầu
                </td>
                <td>
                    16:04 18/06/2022
                </td>
                <td>
                    Đã nhận
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    Nguyễn Văn B
                </td>
                <td>
                    Nhân viên kỹ thuật đi kiểm tra
                </td>
                <td>
                    16:15 18/06/2022
                </td>
                <td>
                    Kiểm tra
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    Nguyễn Văn B
                </td>
                <td>
                    Yêu cầu thay thế linh kiện
                </td>
                <td>
                    16:30 18/06/2022
                </td>
                <td>
                    Duyệt yêu cầu thay thế
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    Nguyễn Văn B
                </td>
                <td>
                    Vào kho lấy linh kiện xyz
                </td>
                <td>
                    16:40 16/06/2022
                </td>
                <td>
                    Đã xuất kho
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    Nguyễn Văn B
                </td>
                <td>
                    Thay thế linh kiện
                </td>
                <td>
                    16:50 16/06/2022
                </td>
                <td>
                    Đã thay thế
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    Nguyễn Văn B
                </td>
                <td>
                    Kiểm tra lại thiết bị
                </td>
                <td>
                    16:55 16/06/2022
                </td>
                <td>
                    Hoàn thành
                </td>
            </tr>
        </table>
    </div>
</div>

@code {

}
