@page "/guiyeucau"

<div class="container">
    <div>Bộ phận</div>
    <div>
        <ul class="pagination pagination-lg">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">Phòng 1</a></li>
            <li class="page-item active"><a class="page-link" href="#">Phòng 2</a></li>
            <li class="page-item"><a class="page-link" href="#">Phòng 3</a></li>
            <li class="page-item"><a class="page-link" href="#">Phòng 4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
    <div>
        Nội dung yêu cầu
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-danger">Gửi yêu cầu</button>
    </div>
</div>

@code {

}
