@page "/yeucau"

<div class="container">
    <div>
        <table class="table table-bordered">
            <thead>
            <th>STT</th>
            <th>Mã yêu cầu</th>
            <th>Nội dung yêu cầu</th>
            <th>Vị trí</th>
            <th>Ngày gửi yêu cầu</th>
            <th>Trạng thái</th>
            <th>Tiến trình</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>123</td>
                    <td>Sữa chữa</td>
                    <td>Phòng 1</td>
                    <td>9:00 15/06/2022</td>
                    <td>Đã hoàn thành</td>
                    <td style="color:blue">Xem tiến trình</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>125</td>
                    <td>Sữa chữa</td>
                    <td>Phòng 1</td>
                    <td>14:12 16/06/2022</td>
                    <td>Đã hoàn thành</td>
                    <td style="color:blue">Xem tiến trình</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>126</td>
                    <td>Thay thế</td>
                    <td>Phòng 1</td>
                    <td>15:59 18/06/2022</td>
                    <td style="color:yellow">Chưa hoàn thành</td>
                    <td style="color:blue">Xem tiến trình</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button type="submit" class="btn btn-danger">+Gửi yêu cầu</button>
    </div>
</div>

@code {

}
